.separator3 {
    padding: 10px 100px;
    background-color: black;

    .separator3_container {
        height: auto;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left_separator3 {
        width: 50%;
        // background-color: red;
    }

    .right_separator3 {

        // background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;



        .videio_container {
            height: 450px;
            width: 500px;
            // background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        video {
            height: 420px;
            width: 500px;
            object-fit: cover;
        }

        video::-webkit-media-controls-panel {
            display: none !important;
            opacity: 1 !important;
        }

    }
}

@media only screen and (max-width: 600px) {
    .separator3 {
        padding: 0px !important;
    }

    .separator3 .separator3_container {

        flex-direction: column;
    }

    .separator3 .left_separator3 {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            text-align: center;
        }




    }

    .separator3 .right_separator3 {
        width: 100%;
    }

    .separator3 .right_separator3 video {
        height: 189px;
        width: 364px;
        -o-object-fit: cover;
        object-fit: cover;


    }

    .separator3 .right_separator3 .videio_container {
        height: 217px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}