.Mainpage_home {
    height: 80vh;
    width: 100%;

    // background-image: url(https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg);
    img {
        height: 80vh;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .Mainpage_home {
        height: 80vh;
        border: 1px solid red;
        width: 100%;

        // background-image: url(https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg);
        img {
            height: 80vh;
            width: 100%;
        }
    }

}